.shopping-list-card {
  background: #ffffff;
  border: 2px solid #2196f3;
  box-shadow: 0 4px 8px rgba(221, 204, 204, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;

}

.shopping-list-card h4 {
  color: var(--grey2);
  font-size: 0.8em;
}

.shopping-list-card h1 {
  font-size: 2em;
}
