@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Zilla+Slab:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #1e88e5;
  --primary-dark: #0277bd;
  --accent: #f9ac2f;
  --on-light: #232323;
  --bg: #ffffff;
  --on-dark: #ffffff;
  --shadow: rgba(0, 0, 0, 0.25);
  --grey1: #c4c4c4;
  --grey2: #787878;
}

input,
button {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  border-radius: 7px;
  padding: 0.5rem 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.filled.primary{
  background-color: var(--primary);
  color: var(--on-dark);
}

.btn.outline.primary {
  color: var(--on-light);
  background-color: var(--bg);
  border: var(--primary) 1px solid;
}

.btn:hover {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
}
