#ingredients-list {
  background: #ffffff;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  height: 100%;
  overflow: auto;
}

.ingredients-list-separator {
  border: none;
  border-top: 1px solid #dcdcdc;
}

#ingredients-list #ingredients-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 5px 15px;
}

#ingredients-list h4 {
  margin: 5px 15px;
  font-size: 1em;
}
