#recipes {
	padding: 1.5rem;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
}

#recipes .recipe-list {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 8rem;
	grid-auto-rows: 8rem;
	gap: 1rem;
	overflow: auto;
	height: 100%;
}

#recipes .recipe-list .recipe-card {
	padding: 1rem 2rem;
}

#recipes .btn {
	width: fit-content;
	height: fit-content;
    justify-self: center;
}
