#shopping-list {
height: 100%;
width: 100%;
display: grid;
grid-template-columns: 100%;
grid-template-rows: min-content minmax(0,1fr);
padding: 1rem 1.5rem;

}

#shopping-list-grid {
  display: grid;
  grid-template-columns: 0.77fr 0.23fr;
  grid-gap: 2.5em;
  grid-template-rows: 100%;
}

#shopping-list #shopping-list-cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
