#main-layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 4rem minmax(0,1fr);
    grid-template-areas: "sidebar searchbar" "sidebar pagecontent";
}

#main-layout #sidebar {
  grid-area: sidebar;
}

#main-layout #searchbar {
  grid-area: searchbar;
}

#main-layout .content {
  grid-area: pagecontent;
}
